<div class="container">
    <div class="user-page">
        <div class="wrapper col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <div class="user-header">
                <div class="account-avatar">
                    <%= profile_img(@user) %>
                </div>
                <div class="account-username">
                    <%= @user.name %>
                </div>
                <% if current_user.id == @user.id %>
                    <div class="edit-account">
                        <%= link_to "アカウント編集", edit_user_registration_path, class: 'btn' %>
                    </div>
                <% end %>
            </div>
            <% @user.posts.each do |post| %>
                <div class="user-images">
                    <%= post_img(post) %>
                </div>
            <% end %>
        </div>
    </div>
</div>
