// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #fafafa;
	text-align: center;
}

header {
	background-color: white;
	border-bottom: 1px solid #dbdbdb;
}

.container {
	padding-top: 60px;
}

.navbar-default {
    border: 0;
    padding: 20px 40px;
		max-width: 1010px;
		margin: auto;
}

.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}

.navbar-default {
  .navbar-brand {
    color: black;
		font-size: 30px;
		font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    &:hover {
      color: #dbdbdb;
    }
  }
  .navbar-nav > li > a {
		border-left: 1px solid #dbdbdb;
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.posts {
	max-width: 600px;
	margin: 30px auto;
	border: solid 1px #dbdbdb;
	border-radius: 4px;
	background-color: white;
	.username-header {
		height: 64px;
		padding: 14px 20px;
		border-bottom: solid 1px #dbdbdb;
		.post-avatar {
			float: left;
			margin-right: 10px;
			img {
				height: 30px;
				width: 30px;
				display: block;
				border-radius: 50%;
			}
		}
		span {
			float: right;
			font-size: 13px;
			color: #8899a6;
		}
	}
	.photo-posts {
		padding: 0;
		border-bottom: solid 1px #dbdbdb;
		img {
			width: 100%
		}
	}
	.content-posts {
		text-align: left;
		padding: 10px 24px 0 24px;
		font-size: 15px;
		line-height: 18px;
		word-wrap: break-word;
		span {
			border-top: solid 1px #dbdbdb;
			display: block;
			text-align: right;
			padding-top: 10px;
			margin-bottom: 10px;
		}
	}
}

.username {
	margin: auto;
	margin-left: 40px;
	font-size: 15px;
	line-height: 18px;
	text-align: left;
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.btn {
	margin-top: 20px;
}

.top {
	h1 {
		font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
		margin-top: 70px;
		margin-bottom: 10%;
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5%;
		width: 100%;
		border-radius: 8%;
	}
	.btn {
		color: gray;
		padding: 10px 20px;
		border: 3px solid #ccc;
		border-radius: 15px;
		margin: auto 20px;
		max-width: 140px;
		margin-bottom: auto;
		-webkit-transition: 0.8s;
		-moz-transition: 0.8s;
		-o-transition: 0.8s;
		-ms-transition: 0.8s;
		transition: 0.8s;
		&:hover {
			opacity: 0.7;
			background-color: #e2ffcc;
		}
	}
}

.field {
	.btn {
		display: block;
		padding: 20px 20px;
		text-align: center;
	}
}

.user-avatar {
	img {
		width: 100%;
	}
}

.edit-account {
	.btn {
		color: gray;
		padding: 10px 10px;
		border: 3px solid #ccc;
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		font-weight: 600;
		outline: none;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		-webkit-appearance: none;
	}
}

.user-header {
	padding: 20px 0;
	margin-bottom: 45px;
	width: 100%;
	height: 200px;
	box-sizing: border-box;
	.account-avatar {
		display: block;
		float: left;
		margin-right: 100px;
		margin-left: 70px;
		img {
			width: 150px;
			height: 150px;
			border-radius: 50%;
		}
	}
	.account-username {
		display: block;
		float: left;
		font-size: 34px;
		line-height: 40px;
	}
	.edit-account {
		display: block;
		float: left;
		clear: right;
		margin-left: 20px;
		.btn {
			margin: 0;
		}
	}
}

.user-page {
	.wrapper {
		max-width: 1000px;
	}
	.user-images {
		img {
			float: left;
			width: 275px;
			height: 275px;
			margin: 15px 15px;
		}
	}
}
